<html>
    <head>
        <title> Bike Project</title>

    </head>
    <body>
    <h2>Old Bike Price Prediction Project</h2>
    <p> this is my bike price prediction project,and i am happy to share this</p>
    <form action ="{{  url_for('prediction')  }}" method="post">
        <label for=>Brand name:</label>
        <select name ="brand" id =" ">
            <option value="2"> ROYAL ENFIELD</option>
            <option value="7"> ktm</option>
            <option value="8"> SUZUKI</option>
            <option value="9"> HARLEY DIVISION</option>
            <option value="16"> BMW</option>
            <option value="10"> kawasaki</option>
            <option value="15"> DUCATI</option>
            <option value="6"> tvs</option>
            <option value="12"> Mahindra</option>
            <option value="14"> triumph</option>
            <option value="13"> Banelli</option>
            <option value="11"> roshan</option>
            

</select>
<label for ="">Ownership    </label>

        <select name ="" id="fifth" required ="required">
        <option value="1">First Owner</option>
        <option value="2">Second Owner</option>
        <option value="3">Third Owner</option>
        <option value="4">Four Owner</option>
        </select> <br><br>
        <label for ="">Kms_driven:</label>
        <input type="text" name="Kms_driven"><br><br>
        <label for ="">age:</label>
        <input type="text" name="age"><br><br>
        <label for ="">power:</label>
        <input type="text" name="power"><br><br>
        <button type="submit">SUBMIT</button>
    </form>
    </body>
</select>


</html>